.button {
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  margin: 0 12px 0;
  padding: 8px 16px 8px;
  transition: 0.2s;
}

.button.buttonDisabled {
  background-color: #9999a3 !important;
  color: #222233;
  cursor: not-allowed;
}

.buttonPrimary {
  background-color: rgb(56, 72, 221);
}

.buttonPrimary:hover {
  background-color: rgba(56, 72, 221, 0.8);
}

.buttonDanger {
  background-color: rgb(221, 72, 56);
}

.buttonDanger:hover {
  background-color: rgba(221, 72, 56, 0.8);
}

.buttonSecondary {
  padding: 8px;
  color: #222299;
}

.buttonSecondary:hover {
  color: #5555aa;
}
