.card {
  position: relative;
  border-radius: 4px;
  padding-top: 24px;
  margin-bottom: 24px;
  background-color: whitesmoke;
  box-shadow: 0 2px 2px 2px rgba(128, 128, 128, 0.09);
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.18);
}

.cardHeader {
  padding: 0 12px 24px;
}

.cardContent {
  padding: 0 12px 24px;
}

.cardContent.cardFlush {
  padding: 0 0 24px;
}
