.textStyle {
  border-radius: 4px;
  font-family: sans-serif;
  transition: 0.2s;
  margin: 4px 12px 4px;
}

.textBody {
  font-size: 18px;
}

.textCaption {
  font-size: 12px;
}

.textDisplay {
  font-size: 90px;
}

.textTitle {
  font-size: 54px;
}

.textButton {
  font-size: 18px;
}
